<div ng-controller="addResultCtrl">

  <h1> Add Result </h1>
  <br>
  	<div class="row">
  	
      <!-- FORM -->
      
      <div class="col-6">
        <form name="matchResult" ng-submit="save()">

         <div class="form-group">
            <label for="cont1"><b>First Contestant:</b></label>
            <select class="form-control" id="cont1" ng-required="true" ng-model="contestantId1">
              <option ng-repeat="c in contestants" ng-if="c.id != contestantId2" value="{{c.id}}">{{c.name}}</option>
            </select>
          </div>
          
          <div class="form-group">
            <label for="cont2"><b>Second Contestant:</b></label>
            <select class="form-control" id="cont2" ng-required="true" ng-model="contestantId2">
              <option ng-repeat="c in contestants" ng-if="c.id != contestantId1" value="{{c.id}}">{{c.name}}</option>
            </select>
          </div>
          
          <div class="form-group">
            <label for="result"><b>Result:</b></label>
            <select class="form-control" id="result" ng-required="true" ng-model="result">
              <option ng-selected="" disabled value="">-- Chose option --</option>
              <option value="{{contestantId1}}">First Contestant Win</option>
              <option value="{{contestantId2}}">Second Contestant Win</option>
              <option value="0">Tie</option>
            </select>
          </div>

          <input class="btn btn-info btn-sm" ng-disabled="matchResult.$invalid" type="submit" value="Save Result"/>
          <br><br><br>
          </form>
        </div>
        


	</div>
</div>
