<div ng-controller="editController">

  <h1> Edit Contestant Page</h1>
  <br>
  	<div class="row">
  	
      <!-- EDIT FORM -->
      
      <div class="col-6">
        <form name="editForm" ng-submit="save()">

         <div class="form-group">
            <label for="name"><b>Name:</b></label>
            <input class="form-control" id="name" ng-required="true" ng-model="edited.name""/>
          </div>

		  <div class="form-group">
            <label for="place"><b>Place:</b></label>
            <input class="form-control" id="place" ng-required="true" ng-model="edited.place"/>
          </div>

          <div class="form-group">
            <label for="email"><b>E-mail:</b></label>
            <input class="form-control" id="email" type="email" ng-required="true" ng-model="edited.email"/>
          </div>
          
          <div class="form-group">
            <label for="played"><b>Played matches:</b></label>
            <input class="form-control" id="played" ng-required="true" ng-model="edited.played"/>
          </div>

          <div class="form-group">
            <label for="points"><b>Points:</b></label>
            <input class="form-control" id="points" ng-required="true" ng-model="edited.points"/>
          </div>
          
          <div class="form-group">
            <label for="tournament"><b>Tournament:</b></label>
            <select class="form-control" id="tournament" ng-required="true" ng-model="edited.tournamentId">
              <option ng-repeat="t in tournaments" ng-if="t.maxContestants > t.noContestants" ng-selected="t.id == edited.tournamentId" value="{{t.id}}">{{t.name}}</option>
            </select>
          </div>

          <input class="btn btn-info btn-sm" ng-disabled="editForm.$invalid" type="submit" value="Save Changes"/>
          <br><br><br>
          </form>
        </div>


	</div>
</div>
