<div ng-controller="homeController">


   <div class="jumbotron">
     <div class="container-fluid">
        <h1>{{message}}</h1>
      </div>
		</div>


    <div class="row">
    
      <!-- ADD FORM -->
      
      <div class="col-10">
      
        <form name="addForm" ng-submit="save()">

         <div class="form-group">
            <label for="name"><b>Name:</b></label>
            <input class="form-control" id="name" ng-required="true" ng-model="saved.name" placeholder="Name"/>
          </div>

		  <div class="form-group">
            <label for="place"><b>Place:</b></label>
            <input class="form-control" id="place" ng-required="true" ng-model="saved.place" placeholder="Place"/>
          </div>

          <div class="form-group">
            <label for="email"><b>E-mail:</b></label>
            <input class="form-control" id="email" type="email" ng-required="true" ng-model="saved.email" placeholder="email@example.com"/>
          </div>
          
          <div class="form-group">
            <label for="tournament"><b>Tournament:</b></label>
            <select class="form-control" id="tournament" ng-required="true" ng-model="saved.tournamentId">
              <option ng-repeat="t in tournaments" ng-if="t.maxContestants > t.noContestants" value="{{t.id}}">{{t.name}}</option>
            </select>
          </div>

          <input class="btn btn-info btn-sm" ng-disabled="addForm.$invalid" type="submit" value="Add Contestant"/>
          <br><br><br>
          </form>
        </div>



      <!-- SEARCH FORM -->

      <div class="col-10">
        
        <form name="search">
		  <div class="form-group">
            <label for="tournamentSearch"><b>Select a Tournament to View Contestants:</b></label>
            <select class="form-control" id="tournamentSearch" ng-change="getContestants()" ng-model="tournamentId"/>
          		<option ng-repeat="t in tournaments" value="{{t.id}}">{{t.name}}</option>
          	</select>
          </div>

          <div class="form-group" ng-show="tournamentId">
            <label for="nameSearch"><b>Name:</b></label>
            <input class="form-control" id="nameSearch" ng-model="searchParams.name"/>
          </div>	
		
          <button class="btn btn-info btn-sm" type="button" ng-disabled="!tournamentId" ng-click="doSearch()">Search</button>
          <br><br><br>
          </div>
		</form>
        </div>
        <br><br>



        <!-- TABLE VIEW -->
		
		<div class="btn-group float-left"  ng-show="tournamentId">
          <button class="btn btn-primary btn-sm" ng-click="goToAddResult()">Add Result</button>
        </div>
        <div class="btn-group float-right" ng-show="tournamentId">
          <button class="btn btn-primary btn-sm" ng-click="changePage(-1)" ng-disabled="page == 0">Prev</button>
          <button class="btn btn-primary btn-sm" ng-click="changePage(1)" ng-disabled="page == totalPages - 1">Next</button>
        </div>
        <br><br>

        <table class="table table-striped" ng-show="tournamentId">
			<thead>
                <th>Name</th>
                <th>Place</th>
                <th>E-mail</th>
                <th>Tournament</th>
                <th>Played Matches</th>
                <th>Points</th>
                <th>Action</th>
              </thead>

              <tbody>
                <tr ng-repeat="c in contestants">
                  <td>{{c.name}}</td>
                  <td>{{c.place}}</td>
                  <td>{{c.email}}</td>
                  <td>{{c.tournamentName}}</td>
                  <td>{{c.played}}</td>
                  <td>{{c.points}}</td>
                  <td>
                    <div class="btn float-right">
                      <button class="btn btn-warning btn-sm" ng-click="goToEdit(c.id)">Edit</button>
                      <button class="btn btn-danger btn-sm" ng-click="remove(c.id)">Delete</button>
                    </div>
                  </td>
                </tr>
              </tbody>

            </table>


  </div>
</div>
